.section#history
    .section_title History
    .history_wrapper 
        .history_timeline
        .history_item1
            .history_timeline_marker
            .history_time 1998/1/18
            .history_content <i class="fas fa-birthday-cake"></i>誕生
            .history_underline
        .history_item2
            .history_timeline_marker
            .history_time 2008/3月
            .history_content <i class="fas fa-baseball-ball"></i>地元のソフトボールクラブに入り、野球を始める。
            .history_underline
        .history_item3
            .history_timeline_marker
            .history_time 2014/8月
            .history_content <i class="fas fa-laptop-code"></i>高校一年生の時、マインクラフトPEにハマり、マルチプレイ用のプラグインを作るためにPHPを独学で勉強し習得。
            .history_underline
        .history_item4
            .history_timeline_marker
            .history_time 2016/4月
            .history_content <i class="fas fa-university"></i>九州工業大学 情報工学部 知能情報工学科 入学
            .history_underline
        .history_item5
            .history_timeline_marker
            .history_time 2017/5月
            .history_content <i class="fas fa-laptop-code"></i>九州工業大学 硬式野球部の公式サイトのリニューアルを担当。その際wordpressの開発を知る。
            .history_underline
        .history_item6
            .history_timeline_marker
            .history_time 2019/5/21
            .history_content <i class="fas fa-hand-paper"></i>福岡六大学野球春季リーグの終了を持って、12年続けた野球を引退。
            .history_underline
        .history_item7
            .history_timeline_marker
            .history_time 2020/6/1
            .history_content <i class="fas fa-user-check"></i>株式会社キャッチアップにアシスタントエンジニアとして入社。
            .history_underline
        .history_item8
            .history_timeline_marker
            .history_time 2020/3/25
            .history_content <i class="fas fa-graduation-cap"></i>九州工業大学 情報工学部 知能情報工学科 卒業 / 株式会社キャッチアップを退社。
            .history_underline
        .history_item9
            .history_timeline_marker
            .history_time 2020/4/1
            .history_content <i class="fas fa-truck-moving"></i>新卒でSESに入社 / 上京！
            .history_underline
        .history_item10
            .history_timeline_marker
            .history_time 2021/2/6
            .history_content <i class="material-icons">celebration</i>Webサービス「yource」リリース！
            .history_underline
        .history_item11
            .history_timeline_marker
            .history_time 2021/3/12
            .history_content <i class="fas fa-award"></i>ITパスポート 取得
            .history_underline
        .history_item12
            .history_timeline_marker
            .history_time 2021/6/25
            .history_content <i class="fas fa-award"></i>応用情報技術者 取得
            .history_underline
        .history_item13
            .history_timeline_marker
            .history_time 2021/9/1
            .history_content <i class="far fa-address-card"></i>SREとして転職
            .history_underline
        .history_item14
            .history_timeline_marker
            .history_time 2023/3/4
            .history_content <i class="far fa-address-card"></i>AWS Certified Cloud Practitioner 取得
            .history_underline
        .history_item15
            .history_timeline_marker
            .history_time 2024/1/1
            .history_content <i class="far fa-award"></i>株式会社hacomonoにSREとして転職
            .history_underline
        .history_now <i class="fas fa-check-circle"></i>現在
    .history_summary
        .history_comment Life goes on.
        .history_label - 人生はまだ、始まったばかり。-