.nav
    a(href="#profile" class="nav_icon")
        i(class="fas fa-address-card fa-lg")
        .nav_link Profile
    a(href="#skill" class="nav_icon")
        i(class="fas fa-code fa-lg")
        .nav_link Skill
    a(href="#works" class="nav_icon")
        i(class="fas fa-rocket fa-lg")
        .nav_link Works
    a(href="#history" class="nav_icon")
        i(class="fas fa-code-branch fa-lg")
        .nav_link History
    a(href="#contact" class="nav_icon")
        i(class="fas fa-envelope-open-text fa-lg")
        .nav_link Contact
    a(href="#links" class="nav_icon")
        i(class="fas fa-link fa-lg")
        .nav_link Links
.nav_sp
    a(href="#profile" class="nav_icon")
        i(class="fas fa-address-card fa-lg")
        .nav_link Profile
    a(href="#skill" class="nav_icon")
        i(class="fas fa-code fa-lg")
        .nav_link Skill
    a(href="#works" class="nav_icon")
        i(class="fas fa-rocket fa-lg")
        .nav_link Works
    a(href="#history" class="nav_icon")
        i(class="fas fa-code-branch fa-lg")
        .nav_link History
    a(href="#contact" class="nav_icon")
        i(class="fas fa-envelope-open-text fa-lg")
        .nav_link Contact
    a(href="#links" class="nav_icon")
        i(class="fas fa-link fa-lg")
        .nav_link Links
.nav_hamburger
    .nav_fake
    .nav_title diwamoto.dev
    button(class="nav_btn"): i(class="fas fa-bars fa-lg")