.main_image
    .main_title_box 
        .title Diwamoto
        .subtitle If you do it, it will happen. If you dont, you won't do it.
        .subtitle_ja - 為せば成る。為さねば成らぬ。-
.section#profile
    .section_title Profile
    .profile_wrapper
        .profile_icon: img(src="/src/img/profile_icon.jpg")
        .profile_name 名前
            .profile_name_content 岩本大樹
        .profile_edu 最終学歴
            .profile_edu_content 九州工業大学 情報工学部 知能情報工学科 卒業
        .profile_birthday 誕生日
            .profile_birthday_content 1998/1/18
        .profile_other その他
            .profile_other_content 新卒でSESに入社し、ソフトウェアエンジニアとして日々努力しています。<br>
                | 大学四年の時に株式会社キャッチアップにアルバイトとして入社し、主にPHPを扱って開発、テスト業務を行っていました。またそこでBaserCMSと出会い、OSSを知りました。<br>
                | 小学校から大学四年まで野球をしてました。大学では六大学リーグに所属し、福岡のヤフオクドームで試合をしたりしました。
                | 受託開発企業に転職すべく活動中です。<br>
                | コードを書いたり、ゲームをしたり、キーボードを作ったりすることが好きです。