.main_image
    .main_title_box 
        .title Diwamoto
        .subtitle If you do it, it will happen. If you dont, you won't do it.
        .subtitle_ja - 為せば成る。為さねば成らぬ。-
.section#profile
    .section_title Profile
    .profile_wrapper
        .profile_icon: img(src="/src/img/profile_icon.jpg")
        .profile_name 名前
            .profile_name_content 岩本大樹
        .profile_edu 最終学歴
            .profile_edu_content 九州工業大学 情報工学部 知能情報工学科 卒業
        .profile_birthday 誕生日
            .profile_birthday_content 1998/1/18
        .profile_other その他
            .profile_other_content SREやってます。コードを書いたり、ゲームをしたり、キーボードを作ったりすることが好きです。