.section#skill
    .section_title Skill
    .skill_wrapper
        .skill_card1
            .skill_name: <i class="fas fa-desktop"></i>フロントエンド
            .skill_column Javascript
                .skill_column_fw Vue.js
                .skill_column_fw Next.js
                .skill_column_fw jQuery
            .skill_column pug
            .skill_column sass
            .skill_column TypeScript
        .skill_card2
            .skill_name: <i class="fas fa-server"></i>バックエンド
            .skill_column PHP
                .skill_column_fw CakePHP
                .skill_column_fw BaserCMS
                .skill_column_fw Laravel
                .skill_column_fw Lumen
            .skill_column Go
                .skill_column_fw Gin
                .skill_column_fw Echo
            .skill_column Java
                .skill_column_fw SpringBoot
        .skill_card3
            .skill_name: <i class="fas fa-database"></i>データベース
            .skill_column Mysql 
                .skill_column_fw 5.7
                .skill_column_fw 8.0
            .skill_column Redis
            .skill_column Oracle
            .skill_column MongoDB
        .skill_card4
            .skill_name: <i class="fab fa-aws"></i>AWS
            .skill_column EC2
            .skill_column RDS 
            .skill_column Amplify 
            .skill_column ECS/Fargate 
            .skill_column Lambda 
                .skill_column_fw Python - boto3
                .skill_column_fw Go 
            .skill_column CloudFormation
            .skill_column Code Services 
                .skill_column_fw CodeCommit
                .skill_column_fw CodePipeline 
                .skill_column_fw CodeDeploy
            .skill_column LoadBalancer 
            .skill_column API Gateway
        .skill_card5
            .skill_name: <i class="fab fa-windows"></i>OS
            .skill_column Windows
            .skill_column MacOS 
            .skill_column Linux
                .skill_column_fw Ubuntu 
                .skill_column_fw CentOS 
                .skill_column_fw AlpineLinux 
                .skill_column_fw Barge
                .skill_column_fw Amazon Linux
        .skill_card6
            .skill_name: <i class="fas fa-archive"></i>その他技術
            .skill_column Docker
            .skill_column Kubernetes
            .skill_column Virtualbox 
            .skill_column Vagrant 
            .skill_column Swagger 
            .skill_column API BluePrint
            .skill_column Git
            .skill_column GitLab/GitHub/BitBucket 
            .skill_column Backlog/JIRA