- 
    var title='diwamoto.dev'
    var description='My Portfolio.'
    var domain='diwamoto.dev'
    var links = [
        {
            name:"Github",
            icon:"github",
            url:"https://github.com/diwamoto"
        },
        {
            name:"Twitter",
            icon:"twitter",
            url:"https://twitter.com/Diwamoto_"
        },
        {
            name:"Facebook",
            icon:"facebook",
            url:"https://www.facebook.com/profile.php?id=100045347584995"
        },
        {
            name:"Zenn",
            icon:"zenn",
            url:"https://zenn.dev/diwamoto"
        },
        {
            name:"Mail",
            icon:"mail",
            url:"mailto:daiki.work.0118@gmail.com"
        }
    ]
    var works = [
        {
            name:"yource",
            icon:"yource",
            url:"https://yource.space",
            description:"GoとVue.jsで作ったslackのようなチャットアプリです。"
        },
        {
            name:"docker-lamp",
            icon:"docker-lamp",
            url:"https://github.com/Diwamoto/docker-lamp",
            description:"dockerで作ったlamp環境です。イメージ化してdockerHubにあげてあるのでビルド不要で使うことができます。"
        }
    ]
