#skill{
  background-color: #f5f5f5;
}
.section{
    .skill_wrapper{

        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    
    
        .skill_card{
          height: 400px;
          width: 350px;
          background-color: white;
          border-radius: 10px;
          margin-bottom: 50px;
          border: 1px solid #d0d0d0;
    
          .skill_name{
            
            text-align: center;
            margin-top: 10px;
            padding-bottom: 10px;
            font-size: 25px;
            font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
            i{
              padding-right: 7px;
            }
          }
    
          .skill_column{
            padding-left: 40px;
            font-size: 20px;
            font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
            .skill_column_fw{
              font-size: 15px;
              padding-left: 20px;
            }
    
            .skill_column_fw::before{
              content: "-";
              padding-right: 10px;
            }
          }
          .skill_column::before {
            font-family: "Font Awesome 5 Free";
            font-weight:900;
            font-size: 0.8em;
            padding-right: 5px;
            content: "\f00c";
            color: #404040;
          }
        }
      }
}