body {
  font-family: -apple-system, "BlinkMacSystemFont", "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif,
    "Segoe UI Emoji";
  background: #FFECCD;
}

.title{
  font-size: 3em;
  font-weight: 800;
  margin-top: 20vh;
  text-align: center;
}
.subtitle{
  text-align: center;
}