@import "nav";
@import "profile";
@import "skill";
@import "works";
@import "history";
@import "contact";
@import "footer";


* {
  box-sizing: border-box;
}

body {

  margin: 0;
  font-family: -apple-system, "BlinkMacSystemFont", "Helvetica Neue",
    Arial,
    "Hiragino Sans",
    "Hiragino Kaku Gothic ProN",
    Meiryo,
    sans-serif,
    "Segoe UI Emoji";
  background-color: #f0f0f0;
}

@media screen and (max-width: 920px) {

  .main_image {

    background-image: url("/src/img/top.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    height: 100vh;

    .main_title_box {

      background-color: rgba(20, 20, 20, 0.6);
      margin: 35vh 10% 0 10%;
      padding-bottom: 5px;

      .title {
        font-family: 'Lato';
        animation: top_title;
        animation-duration: 1s;
        color: white;
        font-size: 3.5em;
        text-align: center;
        margin-bottom: 40px;
      }

      .subtitle {
        margin: 10px 0 10px 0;
        animation: top_title;
        animation-duration: 1s;
        word-break: break-all;
        color: white;
        font-family: 'Slabo 13px', serif;
        font-size: 1.5em;
        font-weight: 200;
        text-align: center;
      }


    }

  }
}

@media screen and (min-width:920px) {
  .main_image {

    background-image: url("/src/img/top.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    height: 100vh;

    .main_title_box {

      background-color: rgba(20, 20, 20, 0.6);
      margin: 35vh auto 0;
      width: 723px;
      padding-bottom: 5px;

      .title {
        font-family: 'Lato';
        animation: top_title;
        animation-duration: 1s;
        color: white;
        font-size: 3.4em;
        text-align: center;
        margin-bottom: 40px;
      }

      .subtitle {
        margin: 10px 0 10px 0;
        animation: top_title;
        animation-duration: 1s;
        word-break: break-all;
        color: white;
        font-family: 'Slabo 13px', serif;
        font-size: 1.5em;
        font-weight: 200;
        text-align: center;
      }

    }


  }
}

@keyframes top_title {
  0% {
    opacity: 0%;
    transform: translateY(-25px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}


.section {
  
  .section_title {
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Gothic A1', sans-serif;
  }

  .section_subtitle{
    font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
    font-weight: 200;
    text-align: center;
  }

}
#works,#history {
  background-color: #f5f5f5;
}

//1450以下
@media screen and (max-width: 1450px) {
  .section {
    padding: 0 10vw 0 10vw;
  }
}


//1450以上
@media screen and (min-width:1450px) {
  .section {
    padding: 0 18vw 0 18vw;
  }
}

.btn_top{
  position: fixed;
  border:none;
  right: 0;
  bottom: -75px;
  width: 75px;
  height: 75px;
  background-color: #e0e0e0;
}

.btn_top_appear{
  bottom: 0;
  transition: 0.5s;
}
.btn_top_fadeout{
  bottom: -60px;
  transition: 0.5s;
}