@import "footer";

* {
  box-sizing: border-box;
}

body {

  margin: 0;
  font-family: -apple-system, "BlinkMacSystemFont", "Helvetica Neue",
    Arial,
    "Hiragino Sans",
    "Hiragino Kaku Gothic ProN",
    Meiryo,
    sans-serif,
    "Segoe UI Emoji";
  background-color: #f0f0f0;
}

.main_image {

  background-image: url("/src/img/top.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
  height: 100vh;

  .main_title_box {

    background-color: rgba(20, 20, 20, 0.6);
    margin: 35vh 31vw 0 31vw;
    padding-bottom: 5px;

    .title {
      font-family: 'Lato';
      animation: top_title;
      animation-duration: 1s;
      color: white;
      font-size: 3.5em;
      text-align: center;
      margin-bottom: 40px;
    }

    .subtitle {
      margin: 10px 0 10px 0;
      animation: top_title;
      animation-duration: 1s;
      word-break: break-all;
      color: white;
      font-family: 'Slabo 13px', serif;
      font-size: 1.5em;
      font-weight: 200;
      text-align: center;
    }


  }

}

@keyframes top_title {
  0% {
    opacity: 0%;
    transform: translateY(-25px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}


.section {

  // border-width: 0 0 1px 0;
  // border-style: solid;
  // border-color: #d0d0d0;


  .section_title {

    text-align: center;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Gothic A1', sans-serif;
  }

  .profile_wrapper {
    
    font-weight: 500;
    font-size: 1.2em;
    padding-bottom: 10px;

    div[class$="_content"]{
      font-weight: 200;
      font-size: 1em;
    }

    div[class^="profile_"]::before {
      font-size: 1.2em;
      padding-right: 10px;
      font-family: "Material Icons";
    }

    .profile_name::before {
      content: 'badge';
    }

    .profile_edu::before {
      content: 'school';
    }

    .profile_birthday::before {
      content: 'cake';
    }

    .profile_other::before {
      content: 'assignment_ind';
    }


  }
}

#profile, #works, #contact{
  background-color: white;
}
#skill, #history{
  background-color: #f5f5f5;
}

//1000以下
@media screen and (max-width: 1000px) {
  .section {

    padding: 0 10vw 0 10vw;

    .profile_wrapper {
      .profile_content {
        padding-top: 1vh;
        font-size: medium;
      }

      .profile_icon {
        text-align: center;

        img {
          border-radius: 50%;
          width: 20vw;
        }
      }
    }
  }

}


//1000以上
@media screen and (min-width:1000px) {

  .section {

    padding: 0 18vw 0 18vw;

    .profile_wrapper {

      height: 500px;

      display: grid;
      grid-template-rows: repeat(3, 72px) 1fr;
      grid-template-columns: 400px 1fr;

      .profile_icon {

        grid-row: 1 / 6;
        grid-column: 1;
        text-align: center;

        img {
          border-radius: 50%;
          width: 200px;
        }
      }

      .profile_name {

        grid-row: 1/2;
        grid-column: 2;

      }

      .profile_edu {

        grid-row: 2/3;
        grid-column: 2;

      }

      .profile_birthday {
        grid-row: 3/4;
        grid-column: 2;
      }


      .profile_other {
        grid-row: 4;
        grid-column: 2;
      }
    }
  }
}